*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* row-gap: 10px;
    column-gap: 20px; */

    gap: 10px 20px;

}

.gridItem{
    background-color: aqua;

}