.header{
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
   
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio{
    grid-column: 1;
    grid-row: 2/5;
    border-top: 10px solid tomato;
    display: block;
}

@media(max-width: 600px){
    
}