*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body,
ul,
li,
p{
    list-style: none;
    font-size: 1.2rem;
    
}

body{
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width:100%;
    display: block;
}