/*Reset basico e configuração da fonte padrão*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Montserrat", sans-serif;
    text-decoration: none;
    font-style: none;

}

/*Ajusta o tamanho das imagens*/
.box img{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 100%;
    border: 4px solid var(--header-light);
}

.header__container{
    height: 70px;
}

